$font-family--normal: "Red Hat Text", "Helvetica", "Arial", sans-serif;

$font-size--medium: 1.8rem;
$font-size--large: 2rem;

$white: #fff;

$color-primary: #FF6C37;
$color-secondary: #64848E;
$color-tertiary: #2B3B41;

$color-error: #FBC0BC;
$color-success: #C3F4E9;
$color-warning: #FFECB8;

$text-color--normal: $color-tertiary;
$text-color--light: $white;

$header-height: 6rem;
$grid-width: 120rem;

$bg-color--default: $white;

$button-bg-color: #FFEDE7;
$button-border-color: $color-primary;
$button-text-color: $color-primary;

$header-bg-color: $color-secondary;
$header-text-color--hover: #FFEDE7;
