$font-family--normal: "Red Hat Text", "Helvetica", "Arial", sans-serif;

$font-size--medium: 1.8rem;
$font-size--large: 2rem;

$white: #FFF;

$color-primary: #FF6C37;
$color-secondary: #64848E;
$color-tertiary: #2B3B41;

$color-error: #FBC0BC;
$color-success: #C3F4E9;
$color-warning: #FFECB8;

$text-color--normal: $color-tertiary;
$text-color--light: $white;

$header-height: 6rem;
$grid-width: 120rem;

$bg-color--default: $white;

$base-dialog-bg-color: $bg-color--default;
$base-dialog-border-color: #E0E0E0;
$base-dialog-header-bg-color: #F0F3F4;

$button-bg-color: #FFEDE7;
$button-border-color: $color-primary;
$button-text-color: $color-primary;

$header-bg-color: $color-secondary;
$header-text-color--hover: $color-primary;

$input-bg-color: $bg-color--default;
$input-border-color: $color-secondary;
$input-text-color: $color-secondary;

$selection-bg-color: #fdb9a0;

$status-bg-color: #FFFAEB;
$status-done-text-color: #66D0B8;
$status-failed-text-color: #EA908A;
$status-inprogress-text-color: #DEBB59;

$task-info-header-bg-color: #F0F3F4;
