@import "styles/style.scss";

.container {
    display: flex;
    flex-direction: column;
    padding: 0 4rem 4rem 4rem;
}

.dialog {
    flex-direction: column;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 4rem;
    text-align: center;
}

.parametersTitle {
    line-height: 4.5rem;
    font-weight: 500;
}

.form {
    display: flex;
    flex-direction: column;
}

.formRow {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(4.5rem, auto));
    grid-template-columns: minmax(10rem, 20rem) auto;

    &:not(:first-of-type) {
        margin-top: 0.5rem;
    }

    .paramName {
        display: flex;
        align-items: center;
        margin-right: 1.5rem;
        overflow-x: hidden;
        word-break: break-all;
    }

    .field {
        display: flex;
        align-items: center;

        .inputContainer {
            width: 100%;
        }
    }
}

.button {
    margin-top: 3rem;
}

@media screen and (max-width: 640px) {
    .description {
        padding-right: 0;
        padding-left: 0;
    }
}
