@import "styles/style.scss";

.statusCell {
    position: relative;
    padding: 0;
    background-color: $status-bg-color;
    text-align: center;
}

.stateDescription {
    opacity: 0.3;
    user-select: none;
}

.button {
    justify-content: flex-start;
    width: 100%;
    padding-left: 1.5rem;
}

.withoutPadding {
    padding: 0;
}
