@import "styles/style.scss";

.container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;

    &.done {
        background-color: $color-success;
        color: $status-done-text-color;
    }

    &.failed {
        background-color: $color-error;
        color: $status-failed-text-color;
    }

    &.inProgress {
        background-color: $color-warning;
        color: $status-inprogress-text-color;
    }
}
